root.dir=/media/xabi/Dropbox/IR/Project 1/p1/
dump.filename=WikiDump_1600.xml
tknizer.nthreads=10
tmp.dir=/media/xabi/Dropbox/IR/Project 1/dd/
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationRule
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApostropheRule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.HyphenRule
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharRule
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhitespaceRule
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DateRule
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentRule
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWordsRule
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitalizationRule
dlnmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DelimitorRule
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumberRule
pretkn.rules=DATES,DELIMITOR,NUMBERS,SPECIALCHARS,CAPITALIZATION,APOSTROPHE,HYPHEN